body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #333;
}

header {
    background-color: #005f73;
    color: white;
    padding: 15px 0;
}

.header-content {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header h1 {
    margin-left: 20px;
}

nav ul {
    list-style: none;
    display: flex;
}

nav ul li {
    margin-right: 20px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

#hero {
    background-image: url('exheroimg.png'); /* Add your image path */
    background-size: cover;
    background-position: center;
    height: 553px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color:black;
}

.hero-content {
    background-color:white;
    padding: 20px;
}

.hero-button {
    display: inline-block;
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #ee6c4d;
    color: black;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.hero-button:hover {
    background-color: #d64b2a;
}

footer {
    background-color: #005f73;
    color: white;
    text-align: center;
    padding: 10px 0;
}

